<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet-Shop</title>
    @using System.Web.Optimization
    @Styles.Render("~/ExternalStyles/css")
    @Scripts.Render("~/ExternalScripts/modernizr")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/ExternalScripts/jquery")
    @Scripts.Render("~/ExternalScripts/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

